<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Parallax Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">2Chillax.com</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>



  <!--  desde aqui empieza primera foto-->

 


  <div id="index-banner" class="parallax-container blue-dark">
    <div class="section no-pad-bot">
      <div class="container">
        
        <br><br>
         
        <div class="row center">
            <img class="imagen" src="img/main1.png" >
        </div>
         
       
        <div class="row center botton-buy">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large main-botton waves-effect waves-light teal lighten-1">Buy Card</a>

          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large main-botton waves-effect waves-light teal lighten-1">Parnertships</a>
        </div>
        <br><br>

      </div>
    </div>

    <div class="parallax"></div>
  </div>



    <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">


          <h3><i class="mdi-content-send brown-text"></i></h3>


          <h4>How it works?</h4>
 
        </div>
      </div>

    </div>
  </div>
   

  <div class="container">
    <div class="section">

      <!--   Icon Section first  -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">card_giftcard</i></h2>
            <h5 class="center">Discounts</h5>

            <a href=""><p class="light">.15% Restaurants</p></a>
            <a href=""><p class="light">.10% Bars</p></a>
            <a href=""><p class="light">.5% Chocolate stores</p></a>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">location_on</i></h2>
            <h5 class="center">Free historical tour</h5>
            <p>Join a route of bars or party tours around the world and discover the best of nightlife accompanied by fun local guides.</p>

            
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">local_hotel</i></h2>
            <h5 class="center">40 eur Airbnb</h5>
            <p>Airbnb accommodation in more than 100,000 cities around the World. Rentals for all budgets. Unique stays from € 49 / night. +7 million Accommodations. 191 countries in the world. Excellent locations.</p>

            <p class="light"></p>
          </div>
        </div>
      </div>

    </div>
  </div>


  



  <!--   Icon Section second  -->
   <div id="index-banner" class="parallax-container blue-dark">
    <div class="container blue-dark">
    <div class="section">

        <div class="row">
        <div class="col s12 center">


          <h3><i class="mdi-content-send brown-text"></i></h3>


          <h4>Where can i get it?</h4>
         
        </div>
      </div>

      <div class="row">
        <div class="col s12 m4">
         <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">devices</i></h2>
            <h5 class="center">online</h5>

          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">fastfood</i></h2>
            <h5 class="center">Partnerships</h5>

            
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">emoji_people</i></h2>
            <h5 class="center">Tours companies</h5>

            <p class="light"></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">


          <h3><i class="mdi-content-send brown-text"></i></h3>


          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros.</p>
        </div>
      </div>

    </div>
  </div>


  

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company free tours</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working </p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>

          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>